.loveToDo{
    margin-top: 20%;
}

.blog-title{
    color: white;
    font-size: 100%;
}

.blog-icon{
    color: #28a745;
    font-size: 400%;
   
}

.love-style{
    background-color:#1d293a ;
    border-radius: 4px;
    padding: 10px 25px;
    margin-bottom: 10%;       
}


