.navbar-brand img {
  width: 70px;
}

.navbar-collapse ul > li {
  font-weight: 16px;
}
.nav_name {
  color: white;
  font-weight: normal;
  float: right;
}

/* .bg {
  background-color: black;
} */

.marquee {
  background-color: white;
  color: black;
  margin-left: 100px;
}
.btn-outline {
  height: 60px;
  margin-left: 150px;
}
/* .navbar-toggler {
  border: none;
} */

.navbar {
  background-color: #111a28;
  color: white;
  border: none;
}

.marquee {
  background-color: white;
  color: black;
  margin-left: 100px;
}
.btn-outline {
  height: 60px;
  margin-left: 150px;
}
