.navbar-brand img {
  width: 40px;
}
/* 
.navbar-collapse ul > li{
    margin-left :30px;
} */
.bg {
  background-color: black;
}
<<<<<<< HEAD

.marquee {
  background-color: white;
  color: black;
  margin-left: 100px;
}
.btn-outline {
  height: 60px;
  margin-left: 150px;
}
/* .navbar-toggler {
  border: none;
} */

.navbar {
  list-style-position: fixed;
  /* position: fixed; */
}
=======
/* 
.navbar-collapse ul > li{
    margin-left :30px;
} */
.bg{
    background-color: black;
    
}

.marquee{
    background-color: white;
    color: black;
    margin-left: 100px;
}
.btn-outline{
    height: 60px;
    margin-left: 150px;
}
>>>>>>> 5b2a32befce363457dce65181de888055866d632
