.foooter{
    height: 20%;
    background-color: #182335;
    color: white;
}


.dev a{
    color: white;
    font-size: 200%;
}
.dev a:hover{
    color: #28a745;
}

.heart{
    color: red;
    font-size: 150%;
}